.crystal {
    height: 200px;
    width: 200px;
}

#main-row {
    text-align: center;
}

.jumbotron {
    text-align: center;
    background-color: black;
}

.main-body {
    background-image: url("../images/dark-paths.png");
}

p {
    color: white;
}

h1 {
    color: white;
}

#start-button {
    background-color: black;
    padding-top: 15px;
}
